#SIDEBAR_STYLE {

    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    margin: auto;
    padding: 0px;
    margin: auto;
    border: 5px black;
    background-color: #2EA18C;
}
#SIDEBAR_RADIOS{
    align-items: center;
    padding: 1%;
    margin: 1%;
}
.btn-outline-primary{
    
    text-align: center;
    
    margin: 2px;
    border-color: black;
    
    
}
.btn-group{
    align-items:flex-start;
}
.slct_art{
    width:50%;
    text-align: center;
    height: auto;

}
#SIDEBAR_SQUARES {
    top: 0;
    left: 0;
    bottom: 0;
    margin:0;
    padding:0;
    overflow-x:hidden;
    height: 100%;
    width: 90%;
    border: 5px black;
    background-color: WHITE
}

#NAVBAR_STYLE {

    top: 0;
    left: 0;
    margin:0;
    padding:0;
    overflow-x:hidden;
    bottom: 20%;
    height: 45%;
    width: 100%;
    
    text-color: white;
    background-color: #2EA18C;
}


#CONTENT_STYLE {
    margin-left: 0;
    margin-right: 0;
    padding: 5%;
}

.TABLE_STYLE {
    margin-left: 0;
    margin-right: 0;
    padding: 5%;
    text-color: #2E7DA1
}
#problematica{
    padding: 0px;
    align-items: center;
    color: black;
    text-align: center;
    margin-bottom : 0;
    margin-top : 20%;
    font-size: 0.6 vw}